.banner2-pneus {
  position: relative;
  width: 100%;
  height: 300px; /* Ajuste conforme necessário */
  background: url("/src/assets/imgPneus/fundo2.jpg") no-repeat center
    center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner2-overlay {
  background: rgba(0, 0, 0, 0.6); /* Efeito escuro na imagem */
  padding: 20px;
  max-width: 80%;
  text-align: center;
  color: white;
  border-radius: 10px;
}
.banner2-overlay p {
  color: white;
}

.banner2-button {
  background-color: #d32f2f;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
  margin-top: 10px;
}

.banner2-button:hover {
  background-color: #b71c1c;
}
